<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="tests/bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 forceCoversAnnotation="true"
		 stopOnFailure="false">
	<testsuites>
		<testsuite name="My Test Suite">
			<directory suffix="Test.php" phpVersion="7.2.24" phpVersionOperator=">=">/var/www/html/wp-content/plugins/woo-nfe/tests</directory>
			<file phpVersion="7.2.24" phpVersionOperator=">=">/var/www/html/wp-content/plugins/woo-nfe/tests/NFe_Extension_Test.php</file>
		</testsuite>
	</testsuites>
<logging>
	<log type="coverage-clover" target="./build/logs/clover.xml"/>
</logging>
<filter>
	<whitelist addUncoveredFilesFromWhitelist="true">
		<directory>./</directory>
		<exclude>
			<file>/var/www/html/wp-content/plugins/woo-nfe/tests/bootstrap.php</file>
			<file>/var/www/html/wp-content/plugins/woo-nfe/tests/helpers.php</file>
		</exclude>
	</whitelist>
</filter>
</phpunit>
