
.nfe_receipts .button {
    display: block;
    text-align: center;
}

span.woo_nfe_actions {
    padding: 3px 7px;
    color: white;
    display: block;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

span.woo_nfe_issue,
span.woo_nfe_payment {
	background-color: #686666;
}

span.woo_nfe_expired {
	background-color: grey;
}

span.woo_nfe_pending_address {
	background-color: orange;
}

span.woo_nfe_cancelled {
	background-color: #e62f2f;
}

span.woo_nfe_issuing {
    background-color: blue;
}

span.woo_nfe_emitida {
	background-color: #56b356;
    margin-top: 10px;
}
