#woocommerce_dashboard_status .wc_status_list li.nfe-issued-orders a:before {
    content: "\e015";
    color: #7ad03a;
}

#woocommerce_dashboard_status .wc_status_list li.nfe-cancelled-orders a:before {
    content: "\e013";
    color: #ffba00;
}

#woocommerce_dashboard_status .wc_status_list li.nfe-processing-orders a:before {
    content: "\e011";
    color: #999;
}

#woocommerce_dashboard_status .wc_status_list li.nfe-error-orders a:before {
    content: "\e016";
    color: #a00;
}

.nfe_receipts .button {
    display: block;
    text-align: center;
}

span.woo_nfe_actions {
    padding: 3px 7px;
    color: white;
    display: block;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

span.woo_nfe_issue {
	background-color: #444;
}

span.woo_nfe_expired {
	background-color: grey;
}

span.woo_nfe_pending_address {
	background-color: orange;
}

span.woo_nfe_cancelled {
	background-color: #e62f2f;
}

span.woo_nfe_issuing {
    background-color: blue;
}

span.woo_nfe_emitida {
	background-color: #56b356;
    margin-top: 10px;
}
